@font-face {
    font-family: 'lato';
    src: url('lato-light-webfont.eot');
    src: url('lato-light-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('lato-light-webfont.woff') format('woff'),
         url('lato-light-webfont.ttf') format('truetype'),
         url('lato-light-webfont.svg#latolight') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'lato';
    src: url('lato-regular-webfont.eot');
    src: url('lato-regular-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('lato-regular-webfont.woff') format('woff'),
         url('lato-regular-webfont.ttf') format('truetype'),
         url('lato-regular-webfont.svg#latoregular') format('svg');
     font-weight: 400;
     font-style: normal;
}


html { font-size: 100%; }
body { background-color: #F1F1F1;  font-size: 0.8em;  margin: 0; font-family: "lato",  'Arial';  padding: 3% 0 0 0; }



div.wrapper {  margin: 0 auto;  padding: 0;  max-width:  736px; text-align: center; }
hr { display: block; height: 0; font-size: 0; border: 0; border-bottom: solid 1px #494949; }
.full { width: 100%; }
table { width: 100%; }
table tr td h3 { width: 100%; display: block; text-align: center; font-weight: 400; font-size: 1.7em; margin: 8px 0; line-height: 20px; }
table tr td span { text-align: center; display: block; font-weight: 200; color #494949; font-size: 1em; }



div.content { width: 100%; min-height: 200px; text-align: center; }
div.content h1 { font-size: 2.5em; font-weight: 200; }

div.item { display: inline-block; width: 15%; margin: 1%; }
div.item:last-child,
div.item:nth-of-type(5n) { margin-right: 0; }
div.item img { max-width: 78px; display: block; margin: 0 auto 10px auto; }
div.item a { display: block; font-size: 1.2em; color: #4A9B88; line-height: 1.4em; }

@media screen and (max-width: 681px) {
    div.item { float: none; width: 100%; clear: both; margin: 0 0 2% 0; padding: 2%; }
    div.wrapper { padding: 0 8px; }
    table tr td h3 { font-size: 1em; }
    table tr td span { font-size: 0.8em; }
}


#footer { margin-top: 50px;}
#footer p { font-size: 1.5em; }
#info { margin-bottom: 50px;}

#info a:link, #info a:visited {
  color: #4A9B88;
  }
tr.indexhead {
  margin-top: 50px;
  }
tr.indexhead a:link, tr.indexhead a:visited {
  font-size: 0.9em;
  font-weight: lighter;
  color: #4A9B88;
  }
